# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment files
*.env
.env.*

# Logs and reports
*.log
*.html
*.xml
reports/

# Python test and coverage
.pytest_cache

# OS-specific files
.DS_Store